@model IEnumerable<VIP_Parking.Models.Database.GateCode>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gate Codes</h2>

<p>
    @Html.ActionLink("Create New Gate Code", "Create", null, new { @class = "link_button purple" })
    @Html.ActionLink("Upload File", "Upload", null, new { @class = "link_button purple" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GateCode1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GateCode1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GateCode1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.GateCode1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GateCode1 })
        </td>
    </tr>
}

</table>
