<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Regis Parking Reservations</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
        @Scripts.Render("~/Scripts/Scripts.js")
        @RenderSection("scripts", required: false)     
    </head>
    <body>
        <header>
            <div class="heading">
                <div class="content-wrapper" id="logo-container">
                    <div class="site-title">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/Images/RU-logo-official_rev.png" alt="logo" />
                        </a>
                        <h1>Regis Parking Reservations</h1>
                    </div><!--.site-title-->
                </div>
                <div class="user_links">
                    @if (Request.IsAuthenticated)
                    {
                        <span>Welcome, @Session["firstname"]</span>
                        <span>@Html.ActionLink("Log out", "Logoff", "Login")</span>
                        if ((bool)@Session["isAdmin"])
                        {
                            <div id="admin_nav_menu">
                                <a href="/Requesters">Users</a>
                                <a href="/Departments">Departments</a>
                                <a href="/Reservations/WaitingList">Waiting List</a>
                            </div>
                        }
                    }
                </div><!--.user_links-->
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; Regis University, @DateTime.Now.Year. All Rights Reserved</p>
                </div>
                <div class="float-right">
                    <p>Any questions? Please contact <a href="mailto:ruparking@regis.edu">ruparking@regis.edu</a></p>
                </div>
            </div>
        </footer>

       
    </body>
</html>
