@model VIP_Parking.ViewModels.LoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <h2>Regis Parking Reservations</h2>
            <p>Reserved VIP Parking is available only in the 22 space visitor lot in upper lot 4, east of Peter Claver Hall by permit only.  As of August 1st, 2015, parking permits are administered by Auxiliary Business Services Office of parking and Transportation.  VIP request should be submitted 72 hours prior to the event, to give the parking office enough time to process the request. The request should meet the VIP criteria.</p>
            <p>Only Regis faculty and staff may reserve parking spaces.</p>
            <p>Please log in to your account using your Regis login information.</p>
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>