@model VIP_Parking.Models.Database.Reservation

@{
    ViewBag.Title = "Details";
}

<p>
    @Html.ActionLink("Back to Reservations", "Index")
</p>

<div>
    <h2>Parking Reservation for @if (Model.Event != null) { Html.Display(Model.Event.Event_Name +" - ");} @Model.Start_Time.DayOfWeek, @Model.Start_Time.ToString("MMMM dd")</h2>
    <p>Status: <span class="@TempData["status_class"]">@TempData["status"]</span></p>
    @if (Model.Approved == 1)
    {
        @Html.Raw("<p class='right'><a class='link_button purple' href='/Permits/Send/" + Model.Reserv_ID + "'>Lost my permit. Request another</a></p>");
    }


    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Guest Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientName)
        </dd>

        <dt>
            @Html.DisplayName("Guest Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientEmail)
        </dd>

        <dt>
            @Html.DisplayName("VIP Category")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Title)
        </dd>

        <dt>
            @Html.DisplayName("Event")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Event_Name)
        </dd>

        <dt>
            @Html.DisplayName("Date of Visit")
        </dt>

        <dd>
           @Model.Start_Time.ToString("MM/dd/yyyy")
        </dd>

        <dt>
            @Html.DisplayName("Time of Visit")
        </dt>

        <dd>
            @Model.Start_Time.ToString("h:mm tt") - @Model.End_Time.ToString("h:mm tt")
        </dd>


        <dt>
            @Html.DisplayName("Number of Spaces Requested")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfSlots)
        </dd>

        <dt>
            @Html.DisplayName("Name of Requester")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requester.Firstname) @Html.DisplayFor(model => model.Requester.Lastname)
        </dd> 

        <dt>
            @Html.DisplayName("Requester's Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequesterEmail)
        </dd> 


        <dt>
            @Html.DisplayName("Sponsoring Department")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Dept_name)
        </dd> 
    </dl>
    @if ((bool)Session["isAdmin"])
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Reserv_ID })
    }
</div>

